<p class="navpath">
<%= link_to 'Servers', admin_servers_url -%> &raquo; 
<%= link_to h(@server.servername), admin_server_url(@server) -%> &raquo;
<%= link_to 'edit', edit_admin_server_url(@server) -%>
</p>

<h1>Edit Server</h1>

<p>Fields labeled in <b>bold</b> are required.</p>

<%= form_for(:server, :url => admin_server_url(@server), :html => { :method => :put }) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="server_servername" class="required">Servername:</label></th>
			<td><%= form.text_field :servername, :disabled => "disabled" %></td>
			<td><%= @server.errors[:servername].first %></td>
		</tr>

		<tr>
			<th><label for="server_password" class="required">Password:</label></th>
			<td><%= form.password_field :password %></td>
			<td><%= @server.errors[:password].first %></td>
		</tr>

		<tr>
			<th><label for="server_password_confirmation" class="required">Confirm:</label></th>
			<td><%= form.password_field :password_confirmation %></td>
			<td><%= @server.errors[:password_confirmation].first %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
