<p class="navpath">
<%= link_to 'Servers', admin_servers_url -%> &raquo; 
<%= link_to 'new', new_admin_server_url -%>
</p>

<h1>New server</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<% form_for(:server, :url => admin_servers_url) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="server_servername" class="required">Servername:</label></th>
			<td><%= form.text_field :servername %></td>
			<td><%= error_message_on :server, :servername %></td>
		</tr>

		<tr>
			<th><label for="server_password" class="required">Password:</label></th>
			<td><%= form.password_field :password %></td>
			<td><%= error_message_on :server, :password %></td>
		</tr>

		<tr>
			<th><label for="server_password_confirmation" class="required">Confirm:</label></th>
			<td><%= form.password_field :password_confirmation %></td>
			<td><%= error_message_on :server, :password_confirmation %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
