%p.navpath
  = link_to 'Servers', admin_servers_url
  \&raquo;
  = link_to 'new', new_admin_server_url

%h1 New server
%p
  Fields labeled in
  %b bold
  are required.
= form_for(:server, :url => admin_servers_url) do |f|
  %table.edit
    %tr
      %th= f.label :servername, "Servername:", :class => "required"
      %td= f.text_field :servername
      %td.error= @server.errors[:servername].first
    %tr
      %th= f.label :password, "Password:", :class => "required"
      %td= f.password_field :password
      %td.error= @server.errors[:password].first
    %tr
      %th= f.label :password_confirmation, "Confirm:", :class => "required"
      %td= f.password_field :password_confirmation
      %td.error= @server.errors[:password_confirmation].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
