<p class="navpath">
<%= link_to 'Servers', admin_servers_url -%> &raquo; 
<%= link_to h(@server.servername), admin_server_url(@server) -%>
</p>

<h1>Server</h1>

<table class="show">
	<tr>
		<th>Servername</th>
		<td><%= h @server.servername -%></td>
		<td>
			<div class="edit"><%= link_to 'Edit', edit_admin_server_url(@server) -%></div>
		</td>
	</tr>
	<tr>
		<th>Created</th>
		<td><%= @server.created_at.strftime('%Y-%m-%d %H:%M') -%></td>
	</tr>
	<tr>
		<th>Changed</th>
		<td><%= @server.updated_at.strftime('%Y-%m-%d %H:%M') -%></td>
	</tr>
</table>
