<p class="navpath">
<%= link_to 'Domains', owner_domains_url -%> &raquo; 
<%= link_to h(@domain.name), owner_domain_url(@domain) -%> &raquo;
<%= link_to h(@record.fqdn_name), edit_owner_domain_record_url(@domain.id, @record) -%>
</p>

<h1>Edit record</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<% form_for(:record, :url => owner_domain_record_url(@domain.id, @record), :html => { :method => :put }) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="record_name" class="required">Name:</label></th>
			<td><%= form.text_field :name %></td>
			<td><%= error_message_on :record, :name %></td>
		</tr>

		<tr>
			<th><label for="record_ttl">TTL:</label></th>
			<td><%= form.text_field :ttl %></td>
			<td><%= error_message_on :record, :ttl %></td>
		</tr>

		<tr>
			<th><label for="record_type" class="required">Type:</label></th>
			<td><%= form.select :type, Record::OWNER_TYPES %></td>
			<td><%= error_message_on :record, :type %></td>
		</tr>

		<tr>
			<th><label for="record_pref">Preference:</label></th>
			<td><%= form.text_field :pref %></td>
			<td><%= error_message_on :record, :pref %></td>
		</tr>

		<tr>
			<th><label for="record_content" class="required">Content:</label></th>
			<td><%= form.text_field :content %></td>
			<td><%= error_message_on :record, :content %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
