%p.navpath
  = link_to 'Domains', owner_domains_url
  \&raquo;
  = link_to h(@domain.name), owner_domain_url(@domain)
  \&raquo;
  = link_to 'new record', new_owner_domain_record_url(@domain.id)

%h1 New record
%p
  Fields labeled in
  %b bold
  are required.
= form_for(:record, :url => owner_domain_records_url(@domain.id)) do |f|
  %table.edit
    %tr
      %th= f.label :name, "Name:", :class => "required"
      %td= f.text_field :name
      %td.error= @record.errors[:name].first
    %tr
      %th= f.label :ttl, "TTL:"
      %td= f.text_field :ttl
      %td.error= @record.errors[:ttl].first
    %tr
      %th= f.label :rectype, "Type:", :class => "required"
      %td= f.select :rectype, Record::OWNER_TYPES
      %td.error= @record.errors[:rectype].first
    %tr
      %th= f.label :pref, "Preference:"
      %td= f.text_field :pref
      %td.error= @record.errors[:pref].first
    %tr
      %th= f.label :content, "Content:", :class => "required"
      %td= f.text_field :content
      %td.error= @record.errors[:content].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
