<p class="navpath">
<%= link_to 'Defaults', admin_default_url(@default) -%> &raquo; 
<%= link_to h(@name_server.fqdn), edit_admin_default_name_server_url(@default.id, @name_server) -%>
</p>

<h1>Edit name server</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<% form_for(:name_server, :url => admin_default_name_server_url(@default.id, @name_server), :html => { :method => :put }) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="name_server_fqdn" class="required">Fqdn:</label></th>
			<td><%= form.text_field :fqdn %></td>
			<td><%= error_message_on :name_server, :fqdn %></td>
		</tr>

		<tr>
			<th><label for="name_server_ttl">TTL:</label></th>
			<td><%= form.text_field :ttl, :class => 'text' %></td>
			<td><%= error_message_on :name_server, :ttl %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
