%p.navpath
  = link_to 'Defaults', admin_default_url(@default)
  \&raquo;
  = link_to 'new mail server', new_admin_default_mail_server_url(@default.id)

%h1 New mail server
%p
  Fields labeled in
  %b bold
  are required.
= form_for(:mail_server, :url => admin_default_mail_servers_url(@default.id)) do |f|
  %table.edit
    %tr
      %th= f.label :fqdn, "Fqdn:", :class => "required"
      %td= f.text_field :fqdn
      %td.error= @mail_server.errors[:fqdn].first
    %tr
      %th= f.label :pref, "Preference:", :class => "required"
      %td= f.text_field :pref
      %td.error= @mail_server.errors[:pref].first
    %tr
      %th= f.label :ttl, "TTL:"
      %td= f.text_field :ttl
      %td.error= @mail_server.errors[:ttl].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
