<p class="navpath">
<%= link_to 'Defaults', admin_default_url(@default) -%> &raquo;
<%= link_to 'edit', edit_admin_default_url(@default) -%>
</p>

<h1>Edit defaults</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<%= form_for(:default, :url => admin_default_url(@default), :html => { :method => :put}) do |f| %>

	<table class="edit">
		<tr>
			<th><label for="default_ttl" class="required">TTL:</label></th>
			<td><%= f.text_field :ttl %></td>
			<td><%= @default.errors[:ttl].first %></td>
		</tr>

		<tr>
			<th><label for="default_mname" class="required">Origin:</label></th>
			<td><%= f.text_field :mname %></td>
			<td><%= @default.errors[:mname].first %></td>
		</tr>

		<tr>
			<th><label for="default_rname" class="required">Person:</label></th>
			<td><%= f.text_field :rname %></td>
			<td><%= @default.errors[:rname].first %></td>
		</tr>

		<tr>
			<th><label for="default_serial" class="required">Serial:</label></th>
			<td><%= f.text_field :serial %></td>
			<td><%= @default.errors[:serial].first %></td>
		</tr>

		<tr>
			<th><label for="default_refresh" class="required">Refresh:</label></th>
			<td><%= f.text_field :refresh %></td>
			<td><%= @default.errors[:refresh].first %></td>
		</tr>

		<tr>
			<th><label for="default_retry" class="required">Retry:</label></th>
			<td><%= f.text_field :retry %></td>
			<td><%= @default.errors[:retry].first %></td>
		</tr>

		<tr>
			<th><label for="default_expire" class="required">Expire:</label></th>
			<td><%= f.text_field :expire %></td>
			<td><%= @default.errors[:expire].first %></td>
		</tr>

		<tr>
			<th><label for="default_minimum" class="required">Minimum:</label></th>
			<td><%= f.text_field :minimum %></td>
			<td><%= @default.errors[:minimum].first %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
