<p class="navpath">
<%= link_to 'Defaults', admin_default_url(@default) -%>
</p>

<h1>Defaults</h1>

<table class="show">
	<tr>
		<th>TTL</th>
		<td><%= h(@default.ttl) -%></td>
		<td>
			<div class="edit">
				<%= link_to 'Edit', edit_admin_default_url(@default) %>
			</div>
		</td>
	</tr>
	<tr>
		<th>Origin</th>
		<td><%= h(@default.mname) -%></td>
	</tr>
	<tr>
		<th>Person</th>
		<td><%= h(@default.rname) -%></td>
	</tr>
	<tr>
		<th>Serial</th>
		<td><%= h(@default.serial) -%></td>
	</tr>
	<tr>
		<th>Refresh</th>
		<td><%= h(@default.refresh) -%></td>
	</tr>
	<tr>
		<th>Retry</th>
		<td><%= h(@default.retry) -%></td>
	</tr>
	<tr>
		<th>Expire</th>
		<td><%= h(@default.expire) -%></td>
	</tr>
	<tr>
		<th>Minimum</th>
		<td><%= h(@default.minimum) -%></td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for name_server in @default.name_servers %>
		<tr>
			<% if counter == 0 %>
				<th>Name servers</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<%= h(name_server.fqdn) %>
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_admin_default_name_server_url(@default.id, name_server) -%>,
					<%= link_to 'Delete', admin_default_name_server_url(@default.id, name_server), :method => 'delete' %>
				</div>
			</td>
		</tr>
		<% counter += 1 %>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Name servers</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add a name server', new_admin_default_name_server_url(@default.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for mail_server in @default.mail_servers %>
		<tr>
			<% if counter == 0 %>
				<th>Mail servers</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<%= h(mail_server.fqdn) -%> (<%= h(mail_server.pref) -%>)
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_admin_default_mail_server_url(@default.id, mail_server) -%>,
					<%= link_to 'Delete', admin_default_mail_server_url(@default.id, mail_server), :method => 'delete' %>
				</div>
			</td>
		</tr>
		<% counter += 1 %>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Mail servers</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add a mail server', new_admin_default_mail_server_url(@default.id) -%></div>
		</td>
	</tr>
</table>

