%p.navpath
  = link_to 'Defaults', admin_default_url(@default)

%h1 Defaults
%table.show
  %tr
    %th TTL
    %td= h(@default.ttl)
    %td
      .edit
        = link_to 'Edit', edit_admin_default_url(@default)
  %tr
    %th Origin
    %td= h(@default.mname)
  %tr
    %th Person
    %td= h(@default.rname)
  %tr
    %th Serial
    %td= h(@default.serial)
  %tr
    %th Refresh
    %td= h(@default.refresh)
  %tr
    %th Retry
    %td= h(@default.retry)
  %tr
    %th Expire
    %td= h(@default.expire)
  %tr
    %th Minimum
    %td= h(@default.minimum)

%hr/

%table.show
  - counter = 0
  - for name_server in @default.name_servers
    %tr
      - if counter == 0
        %th Name servers
      - else
        %th &nbsp;
      %td
        = h(name_server.fqdn)
      %td
        .edit
          = link_to 'Edit', edit_admin_default_name_server_url(@default.id, name_server)
          \&nbsp;
          = link_to 'Delete', admin_default_name_server_url(@default.id, name_server), :method => 'delete'
      - counter += 1
  %tr
    - if counter == 0
      %th Name servers
    - else
      %th &nbsp;
    %td
      .add= link_to 'Add a name server', new_admin_default_name_server_url(@default.id)

%hr/

%table.show
  - counter = 0
  - for mail_server in @default.mail_servers
    %tr
      - if counter == 0
        %th Mail servers
      - else
        %th &nbsp;
      %td
        = h(mail_server.fqdn)
        (#{h(mail_server.pref)})
      %td
        .edit
          = link_to 'Edit', edit_admin_default_mail_server_url(@default.id, mail_server)
          \&nbsp;
          = link_to 'Delete', admin_default_mail_server_url(@default.id, mail_server), :method => 'delete'
      - counter += 1
  %tr
    - if counter == 0
      %th Mail servers
    - else
      %th &nbsp;
    %td
      .add= link_to 'Add a mail server', new_admin_default_mail_server_url(@default.id)
