<p class="navpath">
<%= link_to 'Users', admin_users_url -%> &raquo; 
<%= link_to 'new', new_admin_user_url -%>
</p>

<h1>New user</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<%= form_for(:user, :url => admin_users_url) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="user_username" class="required">Username:</label></th>
			<td><%= form.text_field :username %></td>
			<td><%= @user.errors[:username].first %></td>
		</tr>

		<tr>
			<th><label for="user_fullname" class="required">Fullname:</label></th>
			<td><%= form.text_field :fullname %></td>
			<td><%= @user.errors[:fullname].first %></td>
		</tr>

		<tr>
			<th><label for="user_role" class="required">Role:</label></th>
			<td><%= form.select :role, User::ROLES %></td>
			<td><%= @user.errors[:role].first %></td>
		</tr>

		<tr>
			<th><label for="user_password" class="required">Password:</label></th>
			<td><%= form.password_field :password %></td>
			<td><%= @user.errors[:password].first %></td>
		</tr>

		<tr>
			<th><label for="user_password_confirmation" class="required">Confirm:</label></th>
			<td><%= form.password_field :password_confirmation %></td>
			<td><%= @user.errors[:password_confirmation].first %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
