%p.navpath
  = link_to 'Domains', admin_domains_url
  \&raquo;
  = link_to h(@domain.name), admin_domain_url(@domain)
  \&raquo;
  = link_to h(@record.fqdn_name), edit_admin_domain_record_url(@domain.id, @record)

%h1 Edit SOA record
%p
  Fields labeled in
  %b bold
  are required.
= form_for(:record, :url => admin_domain_record_url(@domain.id, @record), :html => { :method => :put }) do |f|
  %table.edit
    %tr
      %th= f.label :name, "Name:", :class => "required"
      %td= f.text_field :name
      %td.error= @record.errors[:name].first
    %tr
      %th= f.label :ttl, "TTL:", :class => "required"
      %td= f.text_field :ttl
      %td.error= @record.errors[:ttl].first
    %tr
      %th= f.label :rectype, "Type:", :class => "required"
      %td= f.select :rectype, Record::TYPES
      %td.error= @record.errors[:rectype].first
    %tr
      %th= f.label :mname, "Origin:", :class => "required"
      %td= f.text_field :mname
      %td.error= @record.errors[:mname].first
    %tr
      %th= f.label :rname, "Person:", :class => "required"
      %td= f.text_field :rname
      %td.error= @record.errors[:rname].first
    %tr
      %td &nbsp;
    %tr
      %th= f.label :serial, "Serial:", :class => "required"
      %td= f.text_field :serial
      %td.error= @record.errors[:serial].first
    %tr
      %td &nbsp;
    %tr
      %th= f.label :refresh, "Refresh:", :class => "required"
      %td= f.text_field :refresh
      %td.error= @record.errors[:refresh].first
    %tr
      %th= f.label :retry, "Retry:", :class => "required"
      %td= f.text_field :retry
      %td.error= @record.errors[:retry].first
    %tr
      %th= f.label :expire, "Expire:", :class => "required"
      %td= f.text_field :expire
      %td.error= @record.errors[:expire].first
    %tr
      %th= f.label :minimum, "Minimum:", :class => "required"
      %td= f.text_field :minimum
      %td.error= @record.errors[:minimum].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
