<p class="navpath">
<%= link_to 'Domains', admin_domains_url -%> &raquo; 
<%= link_to h(@domain.name), admin_domain_url(@domain) -%> &raquo;
<%= link_to h(@record.fqdn_name), edit_admin_domain_record_url(@domain.id, @record) -%>
</p>

<h1>Edit SOA record</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<% form_for(:record, :url => admin_domain_record_url(@domain.id, @record), :html => { :method => :put }) do |f| %>

	<table class="edit">
		<tr>
			<th><label for="record_name" class="required">Name:</label></th>
			<td><%= f.text_field :name %></td>
			<td><%= error_message_on :record, :name %></td>
		</tr>

		<tr>
			<th><label for="record_ttl" class="required">TTL:</label></th>
			<td><%= f.text_field :ttl %></td>
			<td><%= error_message_on :record, :ttl %></td>
		</tr>

		<tr>
			<th><label for="record_type" class="required">Type:</label></th>
			<td><%= f.select :type, Record::TYPES %></td>
			<td><%= error_message_on :record, :type %></td>
		</tr>

		<tr>
			<th><label for="record_mname" class="required">Origin:</label></th>
			<td><%= f.text_field :mname %></td>
			<td><%= error_message_on :record, :mname %></td>
		</tr>

		<tr>
			<th><label for="record_rname" class="required">Person:</label></th>
			<td><%= f.text_field :rname %></td>
			<td><%= error_message_on :record, :rname %></td>
		</tr>

		<tr><td>&nbsp;</td></tr>

		<tr>
			<th><label for="record_serial" class="required">Serial:</label></th>
			<td><%= f.text_field :serial %></td>
			<td><%= error_message_on :record, :serial %></td>
		</tr>

		<tr><td>&nbsp;</td></tr>

		<tr>
			<th><label for="record_refresh" class="required">Refresh:</label></th>
			<td><%= f.text_field :refresh %></td>
			<td><%= error_message_on :record, :refresh %></td>
		</tr>

		<tr>
			<th><label for="record_retry" class="required">Retry:</label></th>
			<td><%= f.text_field :retry %></td>
			<td><%= error_message_on :record, :retry %></td>
		</tr>

		<tr>
			<th><label for="record_expire" class="required">Expire:</label></th>
			<td><%= f.text_field :expire %></td>
			<td><%= error_message_on :record, :expire %></td>
		</tr>

		<tr>
			<th><label for="record_minimum" class="required">Minimum:</label></th>
			<td><%= f.text_field :minimum %></td>
			<td><%= error_message_on :record, :minimum %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>

