%p.navpath
  = link_to 'Domains', admin_domains_url
  \&raquo;
  \#{link_to h(@domain.name), admin_domain_url(@domain)} &raquo;
  \#{link_to h(@record.fqdn_name), edit_admin_domain_record_url(@domain.id, @record)}
%h1 Edit record
%p
  Fields labeled in
  %b bold
  are required.
= form_for(:record, :url => admin_domain_record_url(@domain.id, @record), :html => { :method => :put }) do |form|
  %table.edit
    %tr
      %th
        %label.required{:for => "record_name"} Name:
      %td= form.text_field :name
      %td= @record.errors[:name].first
    %tr
      %th
        %label{:for => "record_ttl"} TTL:
      %td= form.text_field :ttl, :class => 'text'
      %td= @record.errors[:ttl].first
    %tr
      %th
        %label.required{:for => "record_ype"} Type:
      %td= form.select :type, Record::TYPES
    %tr
      %th
        %label{:for => "record_pref"} Preference:
      %td= form.text_field :pref, :class => 'text'
      %td= @record.errors[:pref].first
    %tr
      %th
        %label.required{:for => "record_content"} Content:
      %td= form.text_field :content, :class => 'text'
      %td= @record.errors[:content].first
    %tr
      %th
        %label{:for => "record_locked"} Locked:
      %td= form.check_box :locked
      %td= @record.errors[:locked].first
    %tr
      %th &nbsp;
      %td= submit_tag "Save", :class => "button"
