<p class="navpath">
<%= link_to 'Domains', admin_domains_url -%> &raquo; 
<%= link_to h(@domain.name), admin_domain_url(@domain) -%> &raquo;
<%= link_to h(@record.fqdn_name), edit_admin_domain_record_url(@domain.id, @record) -%>
</p>

<h1>Edit record</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<%= form_for(:record, :url => admin_domain_record_url(@domain.id, @record), :html => { :method => :put }) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="record_name" class="required">Name:</label></th>
			<td><%= form.text_field :name %></td>
			<td><%= @record.errors[:name].first %></td>
		</tr>

		<tr>
			<th><label for="record_ttl">TTL:</label></th>
			<td><%= form.text_field :ttl, :class => 'text' %></td>
			<td><%= @record.errors[:ttl].first %></td>
		</tr>

		<tr>
			<th><label for="record_ype" class="required">Type:</label></th>
			<td><%= form.select :type, Record::TYPES %></td>
		</tr>

		<tr>
			<th><label for="record_pref">Preference:</label></th>
			<td><%= form.text_field :pref, :class => 'text' %></td>
			<td><%= @record.errors[:pref].first %></td>
		</tr>

		<tr>
			<th><label for="record_content" class="required">Content:</label></th>
			<td><%= form.text_field :content, :class => 'text' %></td>
			<td><%= @record.errors[:content].first %></td>
		</tr>

		<tr>
			<th><label for="record_locked">Locked:</label></th>
			<td><%= form.check_box :locked %></td>
			<td><%= @record.errors[:locked].first %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
