<p class="navpath">
<%= link_to 'Domains', admin_domains_url -%> &raquo; 
<%= link_to h(@domain.name), admin_domain_url(@domain) -%> &raquo;
<%= link_to 'new record', new_admin_domain_record_url(@domain.id) -%>
</p>

<h1>New record</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<%= form_for(:record, :url => admin_domain_records_url(@domain.id)) do |f| %>

	<table class="edit">
		<tr>
			<th><label for="record_name" class="required">Name:</label></th>
			<td><%= f.text_field :name %></td>
			<td><%= @record.errors[:name].first %></td>
		</tr>

		<tr>
			<th><label for="record_ttl">TTL:</label></th>
			<td><%= f.text_field :ttl %></td>
			<td><%= @record.errors[:ttl].first %></td>
		</tr>

		<tr>
			<th><label for="record_type" class="required">Type:</label></th>
			<td><%= f.select :type, Record::TYPES %></td>
			<td><%= @record.errors[:type].first %></td>
		</tr>

		<tr>
			<th><label for="record_pref">Preference:</label></th>
			<td><%= f.text_field :pref %></td>
			<td><%= @record.errors[:pref].first %></td>
		</tr>

		<tr>
			<th><label for="record_content" class="required">Content:</label></th>
			<td><%= f.text_field :content %></td>
			<td><%= @record.errors[:content].first %></td>
		</tr>

		<tr>
			<th><label for="record_locked">Locked:</label></th>
			<td><%= f.check_box :locked %></td>
			<td><%= @record.errors[:locked].first %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
