- for domain in @domains
  %tr
    %td.nameColumn
      = link_to h(domain.name), admin_domain_url(domain)
    %td.typeColumn
      = h(domain.type)
    %td.ownerColumn
      = h(domain.owner)
    %td.createdColumn
      = h(domain.created_at.strftime('%Y-%m-%d %H:%M'))
    %td.changedColumn
      = h(domain.updated_at.strftime('%Y-%m-%d %H:%M'))
    %td.actionsColumn
      = link_to 'Details', admin_domain_url(domain)
      ,
      \#{link_to 'Delete', admin_domain_url(domain), :method => :delete}
