<p class="navpath">
<%= link_to 'Domains', admin_domains_url -%> &raquo; 
<%= link_to 'new', new_admin_domain_url -%>
</p>

<h1>New domain</h1>

<p>Fields labeled in <b>bold</b> are required.</p>
<%= form_for(:domain, :url => admin_domains_url) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="domain_name" class="required">Name:</label></th>
			<td><%= form.text_field :name %></td>
			<td><%= @domain.errors[:name].first %></td>
		</tr>

		<tr>
			<th><label for="domain_type" class="required">Type:</label></th>
			<td><%= form.select :type, Domain::TYPES %></td>
		</tr>

		<tr>
			<th><label for="domain_master">Master:</label></th>
			<td><%= form.text_field :master %></td>
			<td><%= @domain.errors[:master].first %></td>
		</tr>

		<tr>
			<th><label for="domain_user_id" class="required">Owner:</label></th>
			<td><%= form.collection_select :user_id, User.sort(:fullname).all, :id, :fullname %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
