%p.navpath
  = link_to 'Domains', admin_domains_url
  \&raquo;
  = link_to 'new', new_admin_domain_url

%h1 New domain
%p
  Fields labeled in
  %b bold
  are required.
= form_for(:domain, :url => admin_domains_url) do |f|
  %table.edit
    %tr
      %th= f.label :name, "Name:", :class => "required"
      %td= f.text_field :name
      %td.error= @domain.errors[:name].first
    %tr
      %th= f.label :type, "Type:", :class => "required"
      %td= f.select :type, Domain::TYPES
    %tr
      %th= f.label :master, "Master:"
      %td= f.text_field :master
      %td.error= @domain.errors[:master].first
    %tr
      %th= f.label :user_id, "Owner:", :class => "required"
      %td= f.collection_select :user_id, User.sort(:fullname).all, :id, :fullname
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
