- for domain in @domains
  %tr
    %td.nameColumn
      = link_to h(domain.name), owner_domain_url(domain)
    %td.typeColumn
      = h(domain.type)
    %td.ownerColumn
      = h(domain.owner)
    %td.createdColumn
      = h(domain.created_at.strftime('%Y-%m-%d %H:%M'))
    %td.createdColumn
      = h(domain.updated_at.strftime('%Y-%m-%d %H:%M'))
    %td.actionsColumn
      = link_to 'Details', owner_domain_url(domain)
