<p class="navpath">
<%= link_to 'Domains', owner_domains_url -%> &raquo; 
<%= link_to h(@domain.name), owner_domain_url(@domain) -%>
</p>

<h1>Domain</h1>

<table class="show">
	<tr>
		<th>Name</th>
		<td>
			<%= h(@domain.name) %>
		</td>
	</tr>
	<tr>
		<th>Type</th>
		<td><%= h @domain.type -%></td>
	</tr>

	<% if @domain.slave? %>
		<tr>
			<th>Master</th>
			<td>
				<% if @domain.master %>
					<%= h @domain.master %>
				<% else %>
					&nbsp;
				<% end %>
			</td>
		</tr>
	<% end %>

	<tr>
		<th>Owner</th>
		<td><%= h @domain.owner -%></td>
	</tr>
	<tr>
		<th>Created</th>
		<td><%= h(@domain.created_at.strftime('%Y-%m-%d %H:%M')) -%></td>
	</tr>
	<tr>
		<th>Last updated</th>
		<td><%= h(@domain.updated_at.strftime('%Y-%m-%d %H:%M')) -%></td>
	</tr>
</table>

<hr />

<% if @domain.native? %>

	<table class="show">
		<% counter = 0 %>
		<% for record in @domain.records %>
			<tr>
				<% if counter == 0 %>
					<th>Records</th>
				<% else %>
					<th>&nbsp;</th>
				<% end %>

				<td>
					<%= h(record.name) %>
				</td>
				<td>
					<% if record.ttl %>
						<%= h(record.ttl) %>
					<% else %>
						&nbsp;
					<% end %>
				</td>
				<td>
					<% if record.mx? %>
						<%= h(record.type) -%> (<%= h(record.pref) -%>)
					<% else %>
						<%= h(record.type) %>
					<% end %>
				</td>
				<td>
					<%= h(record.content) %>
				</td>

				<td>
					<% if record.locked %>
						&nbsp;
					<% else %>
						<div class="edit">
							<%= link_to 'Edit', edit_owner_domain_record_url(@domain.id, record) -%>,
							<%= link_to 'Delete', owner_domain_record_url(@domain.id, record), :method => 'delete' %>
						</div>
					<% end %>
				</td>
			</tr>
			<% counter += 1 %>
		<% end %>
		<tr>
			<% if counter == 0 %>
				<th>Records</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<div class="add">
					<%= link_to 'Add a record', new_owner_domain_record_url(@domain.id) -%>
				</div>
			</td>
		</tr>
	</table>

	<hr />

<% end %>


<table class="show">
	<% counter = 0 %>
	<% for query in @domain.allow_queries %>
		<tr>
			<% if counter == 0 %>
				<th>Allow queries</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td title="<%= h(query.clients) -%>"><%= h(query.name) -%></td>
		</tr>
		<% counter += 1 %>
	<% end %>

	<% if counter == 0 %>
		<tr>
			<th>Allow queries</th>
		</tr>
	<% end %>
</table>
